apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "mysqldb.fullname" . }}-pv-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  storageClassName: {{ .Values.persistence.storageClass }}
