nginx:
  image: nginx:latest
  config:
    nginxConf: |
      events {}
      http {
          include       mime.types;
          default_type  application/octet-stream;
          include /etc/nginx/conf.d/*.conf;
      }
    defaultConf: |
      server {
          listen 80;
          server_name localhost;
          location / {
              proxy_pass http://tomcat-service.default.svc.cluster.local:8080;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }

persistence:
  size: 1Gi
  storageClass: ""

nodeSelector:
  nodegroup-type: "backend-workloads"

service:
  type: LoadBalancer
  annotations:
    cloud.google.com/load-balancer-type: "Internal"
  ports:
    - name: http
      port: 80
      targetPort: 80
    - name: aurora
      port: 443
      targetPort: 443
