apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  annotations:
    cloud.google.com/load-balancer-type: "Internal"
spec:
  selector:
    app: nginx
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
    - name: aurora
      protocol: TCP
      port: 443
      targetPort: 443
  type: {{ .Values.nginx.service.type }}
