apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ include "tomcatwas.fullname" . }}-pv
spec:
  capacity:
    storage: {{ .Values.persistence.size }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  storageClassName: {{ .Values.persistence.storageClass }}
  hostPath:
    path: /mnt/data/tomcat
